*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.intro {
    background: #3c5154c4;
}

h1 {
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;

}

h3 {
    color: #2F363F;
    text-align: center;
}

button {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background: #3c5154c4;
    color: white;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: 0.5s;
}

button:hover,
h1:hover {
    transform: scale(1.1);
}

button:hover {
    background-color: #41b2c4c4;
}

footer {

    color: #2f445a;
    background-color: #597579b1;
    letter-spacing: 0.5px;
}

footer p {
    margin: 0;
    font-size: 15px;
}

@media only screen and (orientation:portrait) {
    /*.intro {
        display: flex;
        flex-direction: column-reverse;
    }*/

    h1 {
        font-size: 30px;
    }

    .act {
        padding-bottom: 100px;
    }
}
